html, body {
    height: 100% !important;
}

* {
    box-sizing: border-box;
}

.logo_vai_bem{
    width: 100%;
}

.content-login {
    height: 100%;
    position: absolute;
    width: 100%;
}

/* .justify-content-center{
    background-image: url('/dist/img/family.jpg');
    min-height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
} */