html, body {
    height: 100% !important;
}

* {
    box-sizing: border-box;
}

.logo_vai_bem{
    width: 100%;
}

.content-login {
    height: 100%;
    position: absolute !important;
    width: 100%;
    background-image: url("/img/family_login.jpg");
    min-height: 380px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
