.image_family{
    width: 60vh;
}

.login-box{
    height: 100%;
}

@media screen and (max-width: 900px) {
    .content-img-family {
       display: none;
    }
    .content-form-register{
        justify-content: center;
        display: flex;
    }
}

