html, body {
    height: 100% !important;
}

* {
    box-sizing: border-box;
}

.logo_vai_bem{
    width: 100%;
}

.task-container{
    overflow: auto;
    min-height: 80vh;
}

.task-row{
    display: inline-flex;
    flex-wrap: inherit;
}